.game{
    width: auto;
    height: auto;
    margin: 0 auto;
    background-color: orange;
    color: aliceblue;
    border: 6px solid orangered;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.game > div{
    border: 6px solid white;
    border-radius: 600px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bola{
    border: 2px solid blueviolet;
    border-radius: 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}